.modal-container {
  position: absolute;
}
.modal-container .modal, .modal-container .modal-backdrop .move-panel{
  position: absolute;
}

.panel-body {
  padding: 2px;
}

.h4, .h5, .h6, h4, h5, h6 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.panel-heading {
  padding: 5px;
 }

input.form-control.input-large{
	width:450px;
}

input[type="text"]{
	border-color: rgba(150, 214, 242, 0.37);
	border-collapse: collapse;
	  
  /* border-width: thin; */
}

